:root {
  --main-color: #e6c200;
  --primary-color: white;
  --soft-black: rgb(12, 12, 12);
  --white-semi-transparent: rgba(255, 255, 255, 0.579);
  --white-super-transparent: rgba(247, 247, 247, 0.394);

 
  --XS-Fsize: 0.8rem;
  --semi-small-Fsize: 0.85rem;
  --small-Fsize: 1rem;
  --normal-Fsize: 1.12rem;
  --medium-Fsize: 1.6rem;
  --XL-Fsize: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

img {
  width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
  color: var(--primary-color);
}
.wrapper{
  --wrapper-max-width: 950px;
  --wrapper-padding: 10%;

  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  margin-inline: auto;
}

main {
  position: relative;
  color: white;
  margin-bottom: 3rem;
}


.see-more-btn{
  position: absolute;
  bottom: -230px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.487);
  background-color: rgba(0, 0, 0, 0.232);
  backdrop-filter: blur(10px);
  color: white;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  animation: fade-in 3s ease-in-out forwards;
}


section:not(#home-section){
  display: none;
}

.section-name {
  font-size: var(--XL-Fsize);
  margin-bottom: 1rem;
  position: relative;
  color: inherit;
  text-align: center;
}
.section-name.projects {
  margin-bottom: 2rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(74, 74, 74);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

