
.my-skills-section {
  text-align: left;
  min-height: 15rem;
  margin-bottom: 40rem;
}

.my-skills-section .section-name{
  text-align: left;
  margin-bottom: 2rem;
}

.my-skills-section .line {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 8rem;
  top: 50%;
  left: 117px;
  background-color: var(--main-color);
}


.skills-container.d-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}


.skills-container .skill {
  flex: 1 1 calc(18rem + 1rem); 
  max-width: 18rem;
  font-size: var(--semi-small-Fsize);
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid rgba(254, 254, 254, 0.247);
  background-color: #1414146f;
  backdrop-filter: blur(15px);
  border-radius: 8px;
  height: 3.5rem;
  padding: 0 0.8rem;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
}

.skills-container .skill:hover {
  background-color: rgba(146, 131, 70, 0.18);
}

.skills-container .skill .skill-icon {
  width: 2rem;
  transition: 0.2s;
}

.skills-container .skill:hover .skill-icon {
  width: 2.2rem;
}
